@import "tailwindcss";

@theme {
  --color-ink: #020617;
  --color-marble: #ffffff;
  --color-graphite: #94a3b8;
  --color-pale: #1e293b;

  --color-gold: #10b981;
  --color-gold-hover: #059669;
}

a,
button {
  cursor: pointer;
}
